services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: always

  s1-ingest-nocodb:
    build:
      context: ../../services/s1-ingest-nocodb
    ports:
      - "7101:7101"
    secrets:
      - rabbitmq_url
      - nocodb_api_key
      - nocodb_base_url
      - debug_log_payload
    restart: always
    depends_on:
      - rabbitmq

  s2-download-mp4:
    build:
      context: ../../services/s2-download-mp4
    environment:
      - S2_QUEUE=s2-download-mp4
    volumes:
      - ../../data:/data
    # profiles:
    #   - s2
    secrets:
      - rabbitmq_url
      - video_parse_api_token
      - debug_log_payload
    restart: always
    depends_on:
      - rabbitmq

  s3-tts-voice:
    build:
      context: ../../services/s3-tts-voice
    volumes:
      - ../../data:/data
    # profiles:
    #   - s3
    secrets:
      - rabbitmq_url
      - tts_api_token
      - debug_log_payload

  s5-broll-selector:
    build:
      context: ../../services/s5-broll-selector
    volumes:
      - ../../data:/data
    profiles:
      - s5

  s6-video-compositor:
    build:
      context: ../../services/s6-video-compositor
    volumes:
      - ../../data:/data
    profiles:
      - s6

  s7-storage-uploader:
    build:
      context: ../../services/s7-storage-uploader
    volumes:
      - ../../data:/data
    profiles:
      - s7

  s8-nocodb-updater:
    build:
      context: ../../services/s8-nocodb-updater
    volumes:
      - ../../data:/data
    profiles:
      - s8

secrets:
  rabbitmq_url:
    file: ./secrets/rabbitmq_url
  nocodb_api_key:
    file: ./secrets/nocodb_api_key
  nocodb_base_url:
    file: ./secrets/nocodb_base_url
  video_parse_api_token:
    file: ./secrets/video_parse_api_token
  tts_api_token:
    file: ./secrets/tts_api_token
  debug_log_payload:
    file: ./secrets/debug_log_payload
